---
import { Image } from 'astro:assets'
import Image01 from '../../images/redtail-design-system-cover.png'

const { url } = Astro.props
---

<a href={url} class="flex flex-col items-start justify-start rounded-lg border border-border-muted bg-bg-default transition-shadow hover:shadow-lg hover:cursor-pointer">
  <div class="p-1">
    <Image src={Image01} alt="Redtail Design System Cover" class="w-full rounded-md" />
  </div>
  <div class="gap-6 px-6 py-4">
    <div class="flex basis-0 flex-col items-start justify-start gap-1">
      <h2 class="text-lg font-bold text-fg-default">
        Redtail Design System
      </h2>
      <div class="text-fg-muted">
        A collaboration with the engineering team.
      </div>
    </div>
  </div>
</a>