---
import Tools from '../tools.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Tools>
  <PageLayout title="Figma">
    <h2 class="text-sm">Why Figma?</h2>
    <p>So far, Figma is one of my favorite tools for mockups. It's intuitive, offers options to create a UI library, and provides useful information with it's Dev Mode feature.</p>
  </PageLayout>
</Tools>