---
import IconButton from '../IconButton.astro'
import Bars3 from 'astro-heroicons/mini/Bars3.astro'
import NavSidebarMobile from './NavSidebarMobile.astro'
---

<header
	class="flex w-full flex-row border-b border-border-default px-6 py-4 text-fg-default md:hidden"
>
	<div class="row flex items-center gap-3">
		<IconButton id="open-nav-button">
			<Bars3 slot="icon" />
		</IconButton>
		<h1 class="text-lg font-bold">Austin Davis</h1>
	</div>
	<NavSidebarMobile />
</header>

<script>


	// open main nav menu
	
</script>
