---
const { label, url } = Astro.props
const currentUrl = Astro.url.pathname
---

<li>
	<a
		id="main-nav-link"
		href={url}
		class=`group transition-bg-10 flex items-center px-4 py-2 gap-2 rounded font-semibold ${currentUrl === url ? 'text-fg-onEmphasis bg-bg-accent-emphasis shadow-md' : 'text-fg-muted hover:text-fg-default hover:bg-bg-default-hover'}`
	>
		<div class=`text-fg-muted h-5 w-5 ${currentUrl === url ? 'text-fg-onEmphasis' : 'text-fg-muted'}`>
			<slot name="icon" />
		</div>
		{label}
	</a>
</li>
