---
// Icons
import Home from 'astro-heroicons/mini/Home.astro'
import FolderOpen from 'astro-heroicons/mini/FolderOpen.astro'
import Bars3BottomLeft from 'astro-heroicons/mini/Bars3BottomLeft.astro'
import CubeTransparent from 'astro-heroicons/mini/CubeTransparent.astro'
import Bookmark from 'astro-heroicons/mini/Bookmark.astro'
import BookOpen from 'astro-heroicons/mini/BookOpen.astro'
import MusicalNote from 'astro-heroicons/mini/MusicalNote.astro'
import User from 'astro-heroicons/mini/User.astro'
import Squares2X2 from 'astro-heroicons/mini/Squares2X2.astro'
import BehanceLogo from '../logos/BehanceLogo.astro'

// Components
import NavListItem from './NavListItem.astro'
import ThemeToggle from '../ThemeToggle.astro'
---

<nav
	class="hidden h-full max-h-screen w-64 shrink-0 flex-col overflow-auto px-6 pb-4 scrollbar-hide md:flex"
>
	<div class="flex flex-row justify-between items-center">
		<h1 class="flex h-16 flex-row items-center text-lg font-bold">Austin Davis</h1>
		<div>
			<ThemeToggle></ThemeToggle>
		</div>
	</div>
	<div>
		<menu class="flex flex-col gap-4">
			<section class="flex flex-col gap-1">
				<NavListItem label="Home" url="/" currentURL="{currentURL}">
					<Home slot="icon" />
				</NavListItem>
				<NavListItem label="Projects" url="/projects/">
					<FolderOpen slot="icon" />
				</NavListItem>
				<NavListItem label="Notepad" url="/notepad/">
					<Bars3BottomLeft slot="icon" />
				</NavListItem>
				<NavListItem label="Focus" url="/focus/">
					<CubeTransparent slot="icon" />
				</NavListItem>
			</section>
			<section class="flex flex-col gap-1">
				<div class="pb-2 pt-4 font-mono text-sm text-fg-muted">Favorites</div>
				<NavListItem label="Bookmarks" url="/bookmarks/">
					<Bookmark slot="icon" />
				</NavListItem>
				<NavListItem label="Books" url="/books/">
					<BookOpen slot="icon" />
				</NavListItem>
				<NavListItem label="Music" url="/music/">
					<MusicalNote slot="icon" />
				</NavListItem>
				<NavListItem label="People" url="/people/">
					<User slot="icon" />
				</NavListItem>
				<NavListItem label="Stack" url="/stack/">
					<Squares2X2 slot="icon" />
				</NavListItem>
			</section>
			<section class="flex flex-col gap-1">
				<div class="pb-2 pt-4 font-mono text-sm text-fg-muted">Social</div>
				<NavListItem
					id="openFocusBtn"
					label="Behance"
					url="https://www.behance.net/AustinDavisDesigns"
				>
					<BehanceLogo slot="icon" />
				</NavListItem>
			</section>
		</menu>
	</div>
</nav>
