---
import WorkHistoryItem from "../components/WorkHistoryItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkExperienceItem from "../components/WorkExperienceItem.astro";

const pageTitle = "Home";
---


<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-6">
    <section class="flex flex-col gap-4">
      <p>
        Hi, I’m Austin. Something about <a href="https://orion.com/" target="_blank" class="link">Orion</a> and financial technology.
      </p>
      <p>
        Previously, I worked at <a href="https://corporate.redtailtechnology.com" target="_blank" class="link">Redtail</a>, building their first design system in collaboration with the engineering team using <a href="https://storybook.js.org" target="_blank" class="link">Storybook</a> and <a href="https://tailwindcss.com" target="_blank" class="link">Tailwindcss</a>.
      </p>
      <p>
        I also worked as Redtail’s graphic designer updating brand standards, refreshing internal and external visuals, and creating a new brand asset library.
      </p>
      <p>
        Before Redtail I worked at <a href="https://3foldcomm.com" target="_blank" class="link">3fold Communications</a> creating social campaigns, websites, and animations.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-lg font-bold text-gray-300">Work</h2>
      <div class="flex flex-col w-full">
        <WorkExperienceItem 
          companyName="Orion Advisor Solutions" 
          jobTitle="Product Designer" 
          date="2022 &ndash;" />
        <WorkExperienceItem 
          companyName="Redtail Technology" 
          jobTitle="Production Designer" 
          date="2021 &ndash; 2022"/>
        <WorkExperienceItem 
          companyName="Redtail Technology" 
          jobTitle="Graphic Designer" 
          date="2020 &ndash; 2021"/>
        <WorkExperienceItem 
          companyName="3Fold Communications" 
          jobTitle="Graphic Designer" 
          date="2019 &ndash; 2020"/>
      </div>
    </section>
  </div>
</BaseLayout>
