---
import BaseLayout from '../layouts/BaseLayout.astro'

---

<BaseLayout>
	<main class="flex flex-col flex-1 p-4 max-w-xl">
		<section class="flex flex-col gap-2 text-fg-default">
			<p>
				Hi, I’m Austin. I design and develop applications at <a
					href="https://orion.com/"
					target="_blank"
					class="text-fg-accent decoration-2 hover:underline hover:underline-offset-4">Orion Advisor Solutions</a
				>.
			</p>
			<p>
				Previously, I worked at <a
					href="https://corporate.redtailtechnology.com"
					target="_blank"
					class="text-fg-accent decoration-2 hover:underline hover:underline-offset-4">Redtail Technology</a
				> as a graphic and product designer.
			</p>
			<p>
				Before Redtail I worked at <a
					href="https://3foldcomm.com"
					target="_blank"
					class="text-fg-accent decoration-2 hover:underline hover:underline-offset-4"
					>3fold Communications</a
				> creating social campaigns, websites, and animations.
			</p>
		</section>
	</main>
</BaseLayout>
