---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---


<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-8">
    <section class="flex flex-col gap-4">
      <p>
        Hi, I’m Austin. Currently I’m building fintech communication and storage
        management apps at <a href="https://corporate.redtailtechnology.com" target="_blank" class="link">Redtail</a> as their product designer. I’m also building
        Redtail’s first design system in collaboration with the engineering team
        using <a href="https://storybook.js.org" target="_blank" class="link">Storybook</a> and <a href="https://tailwindcss.com" target="_blank" class="link">Tailwindcss</a>.
      </p>
      <p>
        I also worked as Redtail’s graphic designer updating brand standards, refreshing internal and external visuals, and creating a new brand asset library.
      </p>
      <p>
        Before Redtail I worked at <a href="https://3foldcomm.com" target="_blank" class="link">3fold Communications</a> creating social campaigns, websites, and animations &#8212; among other things.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-lg font-bold text-gray-300">Work</h2>
      <div class="w-[448px] h-[72px] justify-start items-center gap-4 inline-flex">
<div class="w-12 h-12 p-2.5 bg-red-700 rounded-lg border border-gray-50 border-opacity-10 flex-col justify-center items-center gap-2.5 inline-flex">
<img class="w-8 h-8" src="https://via.placeholder.com/32x32" />
</div>
<div class="grow shrink basis-0 h-[72px] py-4 border-b border-gray-50 border-opacity-10 justify-between items-center gap-2 flex">
<div class="flex-col justify-start items-start inline-flex">
<div class="text-gray-300 text-sm font-semibold leading-tight">Redtail Technology</div>
<div class="text-gray-400 text-sm font-normal leading-tight">Product Designer</div>
</div>
<div class="text-gray-400 text-xs font-normal leading-none">2021–</div>
</div>
</div>
    </section>
  </div>
</BaseLayout>
