---
import WorkHistoryItem from "../components/WorkHistoryItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---


<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-6">
    <section class="flex flex-col gap-4">
      <p>
        Hi, I’m Austin. Currently I’m building fintech communication and storage
        management apps at <a href="https://corporate.redtailtechnology.com" target="_blank" class="link">Redtail</a> as their product designer. I’m also building
        Redtail’s first design system in collaboration with the engineering team
        using <a href="https://storybook.js.org" target="_blank" class="link">Storybook</a> and <a href="https://tailwindcss.com" target="_blank" class="link">Tailwindcss</a>.
      </p>
      <p>
        I also worked as Redtail’s graphic designer updating brand standards, refreshing internal and external visuals, and creating a new brand asset library.
      </p>
      <p>
        Before Redtail I worked at <a href="https://3foldcomm.com" target="_blank" class="link">3fold Communications</a> creating social campaigns, websites, and animations &#8212; among other things.
      </p>
    </section>
    <section class="flex flex-col">
      <h2 class="text-lg font-bold py-2 text-gray-300">Work</h2>
      <WorkHistoryItem companyName="Orion" jobRole="Product Designer" duration="2022&#8211;" />
      <WorkHistoryItem companyName="Redtail Technology" jobRole="Product Designer" duration="2021&#8211;2022" />
      <WorkHistoryItem companyName="Redtail Technology" jobRole="Graphic Designer" duration="2020&#8211;2021" />
      <WorkHistoryItem companyName="3fold Communications" jobRole="Production Designer" duration="2019&#8211;2020" />
      <WorkHistoryItem companyName="Meissner Sewing" jobRole="Graphic Designer" duration="2018&#8211;2019" />
    </section>
  </div>
</BaseLayout>
