---
import BaseLayout from '../layouts/BaseLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import NotepadListItem from '../components/NotepadListItem.astro';

const pageTitle = 'Notepad'
---

<BaseLayout pageTitle={pageTitle}>
	<PageHeader pageTitle={pageTitle}>
		I don't write much, but if there's something I think you'll find interesting, I'll leave it
		here.
	</PageHeader>
	<section>
		<NotepadListItem
			title="Building the Redtail Design System"
			description="The development of RDS."
			date="Apr 24, 2022"
			url="/notepad/building-the-redtail-design-system"
		/>
		<NotepadListItem
			title="Design tokens"
			description="Deciding on design tokens."
			date="Apr 24, 2022"
			url="/notepad/building-the-redtail-design-system"
		/>
		<NotepadListItem
			title="Increasing efficiency with TailwindCSS"
			description="Building aliased tokens in a design system."
			date="Apr 24, 2022"
			url="/notepad/building-the-redtail-design-system"
		/>
	</section>
</BaseLayout>
