---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import myPicture from '../images/redtail-design-system-cover.png'

const pageTitle = 'Projects'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="inline-flex flex-col items-start justify-start gap-1 pb-4">
		<h1 class="font-['Inter'] text-2xl font-extrabold leading-loose text-gray-300">{pageTitle}</h1>
		<p class="self-stretch font-['Inter'] text-sm font-normal leading-tight text-gray-400">
			A currated selection of my favorite projects.
		</p>
	</div>
	<div class="inline-flex flex-col items-start justify-start rounded-lg">
		<div
			class="inline-flex h-60 items-center justify-center self-stretch rounded-lg border border-white border-opacity-5 bg-gray-800 shadow"
		>
			<div class="flex h-60 w-[448px] items-center justify-center">
				<Image src={myPicture} alt="Redtail Design System Cover" />
			</div>
		</div>
		<div class="inline-flex items-center justify-start gap-6 self-stretch px-1 py-2">
			<div class="inline-flex basis-0 flex-col items-start justify-start gap-1">
				<div class="font-['Inter'] text-lg font-bold leading-7 text-gray-300">
					Redtail Design System
				</div>
				<div class="self-stretch font-['Inter'] text-sm font-normal leading-tight text-gray-400">
					A collaboration with the engineering team.
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
