---

---
<a href="#">
  <button type="button" class="group flex h-8 w-8 justify-center items-center">
    <div class="w-5 h-5 text-fg-muted group-hover:text-fg-default">
      <slot name="icon"></slot>
    </div>
  </button>
</a>