---
---

<main class="flex flex-col flex-grow pt-16 px-24 bg-gray-700">
  <div class="flex flex-col gap-4">
    <p>
      Hi, I’m Austin. Currently I’m building fintech communication and storage
      management apps at <a href="#" class="font-semibold text-blue-400">Redtail</a> as their product designer. I’m also building
      Redtail’s first design system in collaboration with the engineering team
      using Storybook and Tailwind CSS.
    </p>
    <p>
      I also worked as Redtail’s graphic designer updating brand standards, refreshing internal and external visuals, and creating a new brand asset library.
    </p>
    <p>
      Before Redtail I workd at 3fold Communications creating social campaigns, websites, animations, and other client requests. These were generally the same functions I performed at Meissner Sewing with the addition of video production.
    </p>
  </div>
</main>
