---
const { label, url } = Astro.props;
const currentUrl = Astro.url.pathname;
---

<li>
  <a
    href={url}
    class=`${currentUrl === url ? 'flex px-4 py-2 gap-4 rounded font-semibold text-gray-300 bg-gray-800 shadow-md' : 'flex px-4 py-2 gap-4 rounded font-semibold text-gray-500 hover:bg-gray-900 hover:text-gray-300'}`
  >
  <div class="w-6 h-6">
    <!-- <Home /> -->
    <slot name="icon" />
  </div>
    {label}
  </a>
</li>