---
const { label, url } = Astro.props;
const currentPage = Astro.url.pathname;
---

<li>
  <a
    href={url}
    class=`${currentPage === url ? 'flex px-2 py-2 gap-2 rounded font-semibold text-gray-300 bg-gray-800' : 'flex px-2 py-2 gap-2 rounded font-semibold hover:bg-gray-800 hover:text-gray-300'}`
  >
    {label}
  </a>
</li>
