---
const { label, url } = Astro.props;
---

<li>
  <a
    href={url}
    class="flex px-2 py-2 gap-2 rounded font-semibold transition ease-in-out duration-75 hover:bg-gray-800 hover:text-gray-300"
  >
    {label}
  </a>
</li>
