---
import Tag from './Tag.astro';

const { title, skills } = Astro.props;
---

<header class="flex flex-col gap-2 pb-4 border-b border-border-muted mb-4">
  <h1 class="font-bold text-xl">{title}</h1>
  {skills && skills.length > 0 && (
    <div class="flex gap-1 flex-wrap">
      {skills.map((skill) => (
        <Tag label={skill} />
      ))}
    </div>
  )}
</header>