---
import NavListItem from "./NavListItem.astro";
---

<nav class="flex flex-col min-w-[240px] w-60 h-full pt-16 pb-4 px-4 bg-gray-900">
  <h3 class="pb-6 text-lg font-bold text-white">Austin Davis</h3>
  <div>
    <menu>
      <NavListItem label="Home" url="/" />
      <NavListItem label="Projects" url="/projects/" />
      <NavListItem label="Notepad" url="/notepad/" />
      <NavListItem label="Focus" url="/focus/" />
    </menu>
  </div>
</nav>

