---

---

<div class="flex items-center justify-center">
	<!-- The actual toggle switch -->
	<label for="toggle" class="flex cursor-pointer items-center">
		<!-- The hidden checkbox input -->
		<input type="checkbox" name="toggle" class="sr-only" />
		<!-- The line representing the switch -->
		<div
			id="theme-switcher"
			class="flex w-10 justify-start rounded-full border border-border-default bg-bg-muted p-px"
		>
			<div
				class="h-5 w-5 rounded-full border border-border-default bg-white shadow-md transition-transform"
			>
			</div>
		</div>
	</label>
</div>

<!-- <script src="../scripts/theme-switcher.js"></script> -->
