---
const { companyName, jobRole, duration } = Astro.props;
---

<div class="flex flex-row flex-grow-0 items-center gap-x-4">
  <div class="bg-red-600 h-12 w-12 rounded-lg border border-white border-opacity-10">
    <!-- logo -->
  </div>
  <div class="flex flex-row flex-grow items-center gap-x-4 py-4 border-b border-gray-800">
    <div class="flex-grow">
      <h3 class="font-bold text-gray-200">{companyName}</h3>
      <p class="">{jobRole}</p>
    </div>
    <div>
      <p class="font-ptmono text-xs">{duration}</p>
    </div>
  </div>
</div>