---
const { companyName, jobTitle, date, bgColor } = Astro.props
---

<div class="flex w-full items-center justify-start gap-4">
	<div
		class:list={[bgColor, 'flex h-12 w-12 items-center justify-center rounded-lg border border-border-muted border-opacity-10 text-fg-onEmphasis']}
	>
		<slot name="logo" />
	</div>
	<div
		class="flex shrink grow basis-0 items-center justify-between gap-2 border-b border-border-muted py-4"
	>
		<div class="flex flex-col items-start justify-start">
			<p class="font-semibold text-fg-default">{companyName}</p>
			<p class="text-sm font-normal text-fg-muted">{jobTitle}</p>
		</div>
		<p class="font-mono text-sm font-normal text-fg-muted">{date}</p>
	</div>
</div>
