---
import Notebook from '../notebook.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Notebook>
  <PageLayout title="Building an Angular Component Library">
    <h2 class="text-sm">Project Description:</h2>
    <p>Building a component library using Angular.</p>
  </PageLayout>
</Notebook>