---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
import Tag from '../../components/Tag.astro'
---

<Projects>
  <PageLayout title="Orion Advisor Experience" skills={['Figma', 'Angular', 'Sass', 'UXR']}>
    <p>Orion's all-in-one wealth management platform.</p>
  </PageLayout>
</Projects>