---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Projects>
  <PageLayout title="Orion Product Language" skills={['Figma', 'Angular', 'Sass', 'System']}>
    <p>Orion's design system.</p>
  </PageLayout>
</Projects>