---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Projects>
  <PageLayout title="Redtail CRM -- Dark Mode">
    <p>Personally initiated project to create a dark mode version of Redtail's CRM.</p>
  </PageLayout>
</Projects>