---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Projects>
  <PageLayout title="Redtail Imaging">
    <h2 class="text-sm">Project Description:</h2>
    <p>Redtail Imaging is Redtail's document storage solution.</p>
  </PageLayout>
</Projects>