---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Projects>
  <PageLayout title="Redtail Design System">
    <p>Redtail's Design System.</p>
  </PageLayout>
</Projects>