---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Projects>
  <PageLayout title="Redtail Imaging" skills={['Figma', 'React', 'TailwindCSS', 'UXR', 'Application']}>
    <p>Redtail Imaging is Redtail's document storage solution.</p>
  </PageLayout>
</Projects>