---
import Projects from '../projects.astro'
import PageLayout from '../../layouts/PageLayout.astro'
---

<Projects>
  <PageLayout title="Redtail Speak" skills={['Figma', 'React', 'TailwindCSS', 'UXR', 'Application']}>
    <p>Redtail Speak is Redtail's compliant communication application.</p>
  </PageLayout>
</Projects>