---
import '../styles/main.css'
import Nav from '../components/Nav.astro'
import SubNav from '../components/SubNav.astro'

const { pageTitle = 'Portfolio', subNavPages } = Astro.props
---

<html lang="en" data-theme="dark" class="flex h-screen w-screen">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" initial-scale="1" />
		<meta name="generator" content={Astro.generator} />
		<title>Austin Davis | {pageTitle}</title>

		<!-- Google font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="flex flex-1 bg-bg-default font-mono text-sm text-fg-default subpixel-antialiased">
		<Nav />
		{subNavPages && <SubNav title={pageTitle} subNavPages={subNavPages} />}
		<main class="flex flex-1 flex-col">
			<slot />
		</main>
	</body>
</html>
