---
import '../styles/main.css';
import Nav from '../components/Nav.astro';
---

<html lang="en" class="flex w-screen h-screen">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" initial-scale="1" />
		<meta name="generator" content={Astro.generator} />
		<title>Austin Davis | Portfolio</title>

		<!-- Google font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet" />
	</head>

	<body class="flex flex-1 subpixel-antialiased font-serif text-fg-default">
		<Nav />
		<main class="flex flex-1 p-4 overflow-auto">
			<slot />
		</main>
	</body>
</html>