---
import MainContent from "../components/MainContent.astro";
import SidebarNavigation from "../components/SidebarNavigation.astro";

const {pageTitle} = Astro.props;
const currentPage = Astro.url.pathname;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body class="flex justify-center text-gray-300 min-w-screen min-h-screen max-h-screen bg-gradient-to-t from-gray-950 to-gray-900">
        <div class="flex flex-row flex-grow max-w-4xl">
            <SidebarNavigation />
            <MainContent>
                <slot />
            </MainContent>
        </div>
    </body>
</html>
