---
import PageHeader from '../components/PageHeader.astro'

const { title, skills } = Astro.props
---

<main class="flex flex-1 flex-col p-4">
	<PageHeader title={title} skills={skills}/>
  <div class="flex flex-col max-w-xl gap-2">
    <slot />
  </div>
</main>
