---
import BaseLayout from './BaseLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import SubNav from '../components/SubNav.astro';

const allBooks = await Astro.glob("../pages/books/*.md");

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <SubNav title="Books" subNavPages={allBooks} />
  <main class="flex flex-1 flex-col">
    <PageHeader title={frontmatter.title} tags={frontmatter.tags}/>
    <div class="flex flex-col pt-4 px-4 max-w-xl gap-2 overflow-y-auto">
      <slot />
    </div>
  </main>
</BaseLayout>