---
const { url, title, description, date } = Astro.props;
---

<ul>
	<li class="list-image-none">
		<a href={url} class="flex group w-full flex-row items-center gap-4">
			<div
				class="h-12 w-2 rounded-full border border-border-default border-opacity-10 bg-bg-accent-emphasis"
			>
			</div>
			<div class="border-border-muted flex w-full flex-row items-center border-b py-4">
				<div class="flex grow flex-col">
					<p class="text-fg-default font-semibold group-hover:underline">{title}</p>
					<p class="text-fg-muted">{description}</p>
				</div>
				<p class="font-mono text-fg-muted text-sm">{date}</p>
			</div>
		</a>
	</li>
</ul>